div#favoriteartistslist-container{
  font-size: 3vw;
  letter-spacing: 1px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30%;
  padding: 0%;
}

p#artistlist-name{
  padding-bottom: 7%;
  border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 768px) {
div#favoriteartistslist-container{
  font-size: 1.5vw;
}
}
