a#button{
  color: #000;
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  padding: 1% 32%;
  text-decoration: none;
  margin-bottom: 5%;
}

a#button:hover{
  transition: 1s;
  background-color: #eee;
}

@media only screen and (min-width: 576px) {
a#button{
  font-size: 1vw;
  padding: 1% 38%;
}
}

@media only screen and (min-width: 768px) {
a#button{
  font-size: 1vw;
  padding: 1% 35%;
}
}

@media only screen and (min-width: 768px) {
a#button{
  font-size: .75vw;
  padding: 1% 38%;
}
}
