a#button{
  color: #000;
  font-size: 4vw;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1%;
  text-decoration: none;
}

a#button:hover{
  transition: 1s;
  background-color: #ddd;
}
