div#header-container{
  font-size: 6vw;
  background-color: #eee;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1% 1% 1% 1%;
  /* position: fixed;
  width: 100%; */
}

div#jam-logo{
  color: #B44D35;
  font-size: 7vw;
  font-weight: 900;
  background-color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0% 1% 0% 1%;
}

div#jam-logo:hover{
  color: #000;
  background-color: #ddd;
  transition: 1s;
}

div#favorites-link{
  display: flex;
  align-items: center;
}

img#favorites-image{
  height: .85em;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 1% 15% 1% 15%;
}

img#favorites-image:hover{
  background-color: #ddd;
  transition: 1s;
}
